* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import"./base/variables";
@import"./components/header";
@import"./components/nosotros";
@import"./components/cafehome";
@import"./components/article1home";
@import"./components/article2home";
@import"./components/footer";











