/* article2Home */


.cafe__rigth {
    width: 50%;
    background-color: #292525;
    color: #eee;
    margin: 5px;
}

.cafe__rigth h2, .cafe__rigth p {
    padding: 20px;
}

.cafe__rigth img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    padding: 20px;
}