/* article2Home */


.cafe__rigth {
    width: 50%;
    background-color: nth($colores, 5);
    color: nth($colores, 2);
    margin: 5px;
}

.cafe__rigth h2, .cafe__rigth p {
    padding: 20px;
}

.cafe__rigth img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    padding: 20px;
}