/* header, ponemos un color al fondo para difereciar, diplay para
 ubicar los elementos en el header en columnaas */

 header {
    background-color: #202020;
    display: flex;
    flex-direction: column;
}

/* ahora para que en el navegador se acomode display flex nuevmente,
 con el width del 100 para qie ocupe toda la pantalla, y align items
  para ordenarlo en el centro, seguido de un padding de 30px y 10px
   tendremos 30 de arriba y abajo. y 10px de loas costados */

.nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 30px 10px;
    background-color: #eee;
}
 /* ahora dividiremos el nav en dos partes, el logo y losn ancor que redirecionan,
  a uno le ponmdremos que ocupe el 30% del ancho y al otro el 70% del ancho* por separado,
   para cada cambio en el estilo hay que hacerlo por separado, el logo es una cosa y la 
   lista es otra, asi que al nav a le vamos a sacar la decoracion: none, color a la letra.
    y l tamaño de la  misma*/

.nav a {
    width: 30%;
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

/* a la lista de ancor le vamos a poder display flex para que se alinien uno al lado del otro,
 ya que por defecto es horizontal, para que nio qiueden pegados los ancor le vamos a poenr el 
 justify-content: space-around;*/

.nav__lista {
    display: flex;
    width: 70%;
    justify-content: space-around;

}


/* para sacarle todo lo que viene por defecto aplicaremos la cascada en */

.nav__lista li {
    list-style-type: none;
}


/* hero */


.hero {
    background-image: url(/multimedia/cafe01.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100vh;

    /*para el titulo que esta dentro de la imagen*/

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
}


.hero__title {
    font-size: 54px;
    color: #fff;
}

.hero__subtitle {
    font-size: 34px;
    color: #fff;
}